* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    color: white;
}

#search-form {
    position: absolute;
    left: 55%;
    bottom: 60%;
    font-weight: bold;
    font-size: 24px;
}

.header {
    min-height: 5vh;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex: 1;
}

.gifs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 4;
    justify-content: space-evenly;
    overflow-x: hidden;
}

.rating, .title {
    justify-content: center;
    font-weight: bold;
}
